<% layout('/layouts/default.html', {title: '用户管理', libs: ['validate','dataGrid']}){ %>
<div class="main-content">
    <div class="box box-main">
        <div class="box-header with-border">
            <div class="box-title">
                <i class="fa icon-people"></i> ${text(empUser.isNewRecord ? '新增用户' : op == 'auth' ? '用户分配角色' : '编辑用户')}
            </div>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <#form:form id="inputForm" model="${empUser}" action="${ctx}/sys/empUser/save" method="post" class="form-horizontal">
        <#form:hidden name="op" value="${op}"/>
        <#form:hidden name="userType" value="employee"/>
        <#form:hidden path="userCode"/>
        <div class="box-body">
            <% if(op=='auth'){ %><br/><% } %>
            <% if(op == 'add' || op == 'edit') { %>
            <div class="form-unit">${text('基本信息')}</div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4" title="">
                            <span class="required ">*</span> ${text('归属机构')}：<i class="fa icon-question hide"></i></label>
                        <div class="col-sm-8">
                            <#form:treeselect id="office" title="${text('机构选择')}"
                            path="employee.office.officeCode" labelPath="employee.office.officeName"
                            url="${ctx}/sys/office/treeData?ctrlPermi=${@Global.getConfig('user.adminCtrlPermi', '2')}" class="required" allowClear="false"/>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4" title="">
                            <span class="required hide">*</span> ${text('归属公司')}：<i class="fa icon-question hide"></i></label>
                        <div class="col-sm-8">
                            <#form:treeselect id="company" title="${text('公司选择')}"
                            path="employee.company.companyCode" labelPath="employee.company.companyName"
                            url="${ctx}/sys/company/treeData?ctrlPermi=${@Global.getConfig('user.adminCtrlPermi', '2')}" btnClass="" allowClear="true"/>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4" title="">
                            <span class="required ">*</span> ${text('登录账号')}：<i class="fa icon-question hide"></i></label>
                        <div class="col-sm-8">
                            <#form:hidden name="oldLoginCode" value="${empUser.loginCode}"/>
                            <#form:input path="loginCode" minlength="4" maxlength="20" readonly="${op=='auth'}"
                            class="form-control required userName"
                            remote="${ctx}/sys/user/checkLoginCode?oldLoginCode=${empUser.loginCode}"
                            data-msg-remote="${text('登录账号已存在')}"/>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4" title="">
                            <span class="required ">*</span> ${text('用户昵称')}：<i class="fa icon-question hide"></i></label>
                        <div class="col-sm-8">
                            <#form:input path="userName" maxlength="32" readonly="${op=='auth'}" class="form-control required "/>
                        </div>
                    </div>
                </div>
            </div>
            <% if(op == 'add' || op == 'edit') { %>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4" title="">
                            <span class="required hide">*</span> ${text('电子邮箱')}：<i class="fa icon-question hide"></i></label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <#form:input path="email" maxlength="300" class="form-control email"/>
                                <span class="input-group-addon"><i class="fa fa-fw fa-envelope" style="margin-top:-2px;display:block;"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4" title="">
                            <span class="required hide">*</span> ${text('手机号码')}：<i class="fa icon-question hide"></i></label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <#form:input path="mobile" maxlength="100" class="form-control mobile"/>
                                <span class="input-group-addon"><i class="fa fa-fw fa-mobile" style="margin-top:-2px;display:block;"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4" title="">
                            <span class="required hide">*</span> ${text('办公电话')}：<i class="fa icon-question hide"></i></label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <#form:input path="phone" maxlength="100" class="form-control phone"/>
                                <span class="input-group-addon"><i class="fa fa-fw fa-phone"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <script src="../../../../static/My97DatePicker"></script>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4" title="">
                            <span class="required">*</span> ${text('入职时间')}：<i
                                class="fa icon-question hide"></i></label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <#form:input path="employee.hireDate" id="hireDate" dataFormat="date" maxlength="100"
                                class="form-control required" onClick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false})"/>
                                <span class="input-group-addon"><i class="fa fa-fw fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4" title="">
                            <span class="required ">*</span> ${text('转正时间')}：<i
                                class="fa icon-question hide"></i></label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <#form:input path="employee.regularDate" id="regularDate" dataFormat="date"
                                maxlength="100" class="form-control required" onClick="WdatePicker({dateFmt:'yyyy-MM-dd',isShowClear:false})"/>
                                <span class="input-group-addon"><i class="fa fa-fw fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4" title="">
                            <span class="required hide">*</span> ${text('权重(排序)')}：<i class="fa icon-question hide"></i></label>
                        <div class="col-sm-8">
                            <#form:input path="userWeight" maxlength="8" class="form-control digits" placeholder="${text('权重越大排名越靠前，请填写数字。')}"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4" title="">
                            <span class="required ">*</span> ${text('是否华为认证讲师')}：<i
                                class="fa icon-question hide"></i></label>
                        <div class="col-sm-8">
                            <#form:radio path="employee.isHw" dictType="sys_yes_no" class="form-control required" />

                        </div>

                    </div>
                </div>


                <div class="col-xs-6" id="uploadHw" style="display: none">
                    <div class="form-group">
                        <label class="control-label col-sm-4" title="">
                            <span class="required ">*</span> ${text('相关证书')}：<i
                                class="fa icon-question hide"></i></label>
                        <div class="col-xs-6">
                            <a href="${ctx}/sys/filemanager/hwFile/form" id="btnUploadFile"
                               class="btn btn-default addTabPage" title="${text('上传证书')}"
                               data-layer="true" data-layer-width="950" data-layer-height="430"><i
                                    class="fa fa-upload"></i> ${text('上传证书')}</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row" id="hwList" style="display: none">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label class="control-label col-sm-2" title="">
                            <span class="required hide">*</span> ${text('已有证书')}：<i
                                class="fa icon-question hide"></i></label>
<!--                        <button id="btnDownload" class="btn btn-info btn-xs blue" title="支持批量下载" ><i class=" fa fa-download"></i>下载</button>-->
<!--                        <input type="button" id="btnDownload" class="fa fa-download" title="支持批量下载" value="下载"><i class=" fa fa-download"></i>下载</input>-->
                        <a  id="btnDownload" class="btnList" title="${text('支持批量下载')}"><i class="fa fa-download"></i>下载</a>

                        <div class="col-sm-10" id="hw">
                            <table id="dataGrid"> </table>
                            <div id="dataGridPage"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="form-unit">${text('详细信息')}</div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4" title="">
                            <span class="required hide">*</span> ${text('员工编号')}：<i class="fa icon-question hide"></i></label>
                        <div class="col-sm-8">
                            <#form:input path="employee.empCode" maxlength="32" readonly="${!empUser.isNewRecord}" class="form-control userName"/>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4" title="">
                            <span class="required hide">*</span> ${text('员工姓名')}：<i class="fa icon-question hide"></i></label>
                        <div class="col-sm-8">
                            <#form:input path="employee.empName" maxlength="32" class="form-control "/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4" title="">
                            <span class="required hide">*</span> ${text('所在岗位')}：<i class="fa icon-question hide"></i></label>
                        <div class="col-sm-8">
                            <#form:select multiple="true" path="employee.employeePosts" items="${postList}"
                            itemLabel="postName" itemValue="postCode" class="form-control"/>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4" title="">
                            <span class="required hide">*</span> ${text('英文名')}：<i class="fa icon-question hide"></i></label>
                        <div class="col-sm-8">
                            <#form:input path="employee.empNameEn" maxlength="32" class="form-control "/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label class="control-label col-sm-2" title="">
                            <span class="required hide">*</span> ${text('附属机构')}：<i class="fa icon-question hide"></i></label>
                        <div class="col-sm-10">
                            <table id="empOfficeGrid"></table>
                            <% if (hasPermi('sys:empUser:edit')){ %>
                            <a href="#" id="empOfficeGridAddRowBtn" class="btn btn-primary btn-sm mt10 mb10"><i class="fa fa-plus"></i> ${text('增行')}</a>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label class="control-label col-sm-2" title="">
                            <span class="required hide">*</span> ${text('备注信息')}：<i class="fa icon-question hide"></i></label>
                        <div class="col-sm-10">
                            <#form:textarea path="remarks" rows="4" maxlength="500" class="form-control "/>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
            <% if(op == 'add' || op == 'auth') { %>
            <div class="form-unit">${text('分配角色')}</div>
            <div class="pl10 pb20">
                <table id="roleGrid"></table>
                <#form:hidden name="userRoleString"/>
            </div>
            <% } %>
            <% if(op == 'add' || op == 'edit') { %>
            <#form:extend collapsed="true" />
            <% } %>
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-sm-offset-2 col-sm-10">
                    <% if (hasPermi('sys:empUser:edit')){ %>
                    <button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
                    <% } %>
                    <button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
                </div>
            </div>
        </div>
    </#form:form>
</div>
<#form:form id="searchForm" model="${hwFileList}" action="${ctx}/sys/empUser/hw?loginCode=${empUser.loginCode}" method="get" class="form-inline hide"
data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
</#form:form>
</div>
<% } %>
<script id="treeselectTpl" type="text/template">//<!--<div>
<#form:treeselect id="{{d.id}}" title="{{d.title}}" name="{{d.name}}" value="{{d.value}}"
	labelName="{{d.labelName}}" labelValue="{{d.labelValue}}" url="{{d.url}}"
	class="{{d.cssClass}}" btnClass="btn-sm" allowClear="true"/>
</div>//--></script>
<script>


    // 根据不同选择结果显示上传证书模块
    $('#employee_isHw input').on('ifCreated ifChecked', function () {

        if ($(this).is(':checked')) {
            // 1：是；2：否
            if ($(this).val() == '1') {
                // $('.isPerm').hide();
                $('#uploadHw').show();
                $('#hwList').show();
                // $userName =$("#userName").val();
                // console.log($("#userName").val())
                // $('iframe').src="${ctx}/sys/filemanager/hwFile/list?fileHolder='+$username+'"
            } else {
                $('#uploadHw').hide();
                $('#hwList').hide();
                // $('.isPerm').show();
            }
        }
    });




    $("#empOfficeGrid").dataGrid({
        data: ${toJson(empUser.employee.employeeOfficeList)},
        datatype: "local", // 设置本地数据
        columnModel: [
            {header:'${text("附属机构")}', name:'officeName', sortable:false, width:100,
                formatter: function(val, obj, row, act){
                    return js.val(row, 'officeCode')+'|'+js.val(row, 'officeName');
                }, editable: true, edittype: "custom", editoptions: {
                    custom_element: function(val, editOptions) {
                        return js.template('treeselectTpl', {
                            id: 'office_'+editOptions.id, title: '机构选择',
                            name: 'officeCode', value: val.split('|')[0],
                            labelName: 'officeName', labelValue: val.split('|')[1],
                            url: '${ctx}/sys/office/treeData', cssClass: 'required'
                        });
                    }
                }
            },
            {header:'${text("附属岗位")}', name:'postCode', sortable:false, width:100,
                editable:true, edittype:'select', editoptions:{'class':'form-control',
                    items: $.merge([{postName:'&nbsp;',postCode:''}], ${toJson(postList)}),
                    itemLabel: 'postName', itemValue: 'postCode', dataInit: function(element){
                        $(element).select2().on("change",function(){$(this).resetValid()});
                    }
                }
            },
            {header:'${text("操作")}', name:'actions', width:80, sortable:false, fixed:true, formatter: function(val, obj, row, act){
                    var actions = [];
                    actions.push('<a href="#" onclick="js.confirm(\'${text("你确认要删除这条数据吗？")}\', function(){$(\'#empOfficeGrid\').dataGrid(\'delRowData\',\''+obj.rowId+'\')});return false;"><i class="fa fa-trash-o"></i></a>&nbsp;');
                    return actions.join('');
                }, editoptions: {defaultValue: 'new'}}
        ],
        autoGridHeight: function(){return 'auto'}, // 设置自动高度

        // 编辑表格参数
        editGrid: true,				// 是否是编辑表格
        editGridInitRowNum: 0,		// 编辑表格的初始化新增行数
        editGridAddRowBtn: $('#empOfficeGridAddRowBtn'),	// 子表增行按钮
        editGridAddRowInitData: {id: '', status: Global.STATUS_NORMAL},	// 新增行的时候初始化的数据

        // 编辑表格的提交数据参数
        editGridInputFormListName: 'employee.employeeOfficeList', // 提交的数据列表名
        editGridInputFormListAttrs: 'officeCode,officeName,postCode,postName,', // 提交数据列表的属性字段

        ajaxSuccess: function(){

        }
    });
    <% if(op == 'add' || op == 'auth') {%>
// 加载角色列表
        var roleGrid = $("#roleGrid").dataGrid({
            url: '${ctx}/sys/role/treeData',
            postData: [
                {name:'userType',value:'employee'},
                {name:'ctrlPermi',value:'${@Global.getConfig("user.adminCtrlPermi", "2")}'}
            ],
            columnModel: [
                {header:'${text("角色名称")}', name:'name', sortable:false, width:100, align:"center"},
                {header:'${text("角色编码")}', name:'id', sortable:false, width:100, align:"center"}
            ],
            showCheckbox: true,
            autoGridHeight: function(){
                return 'auto';
            },
            autoGridWidth: function(){
                return $('#inputForm .box-body').width()-20;
            },
            ajaxSuccess: function(){
            <% for (role in roleList!){ %>
                    roleGrid.dataGrid('setSelectRow', '${role.roleCode}');
                <% } %>
            }
        });
    <% } %>
    $("#inputForm").validate({
        submitHandler: function(form){
        <% if(op == 'add' || op == 'auth') { // 获取选中角色  %>
                $("#userRoleString").val(roleGrid.dataGrid('getSelectRows').join(','));
            <% } %>
            js.ajaxSubmitForm($(form), function(data){
                js.showMessage(data.message);
                if(data.result == Global.TRUE){
                    js.closeCurrentTabPage(function(contentWindow){
                        contentWindow.page();
                    });
                }
            }, "json");
        }
    });
</script>
<script>
    // console.log($("#searchForm"));
    // 初始化DataGrid对象
    $('#dataGrid').dataGrid({
        //显示复选框
        showCheckbox:true,


        searchForm: $("#searchForm"),
        columnModel: [
            {
                header: '${text("文件名称")}',
                name: 'fileName',
                index: 'a.file_name',
                width: 150,
                align: "center",
                // frozen: true,
                // formatter: function (val, obj, row, act) {
                //     return '<a href="${ctx}/sys/filemanager/hwFile/form?certificateId=' + row.certificateId + '" class="btnList" data-title="${text("编辑华为证书")}">' + (val || row.id) + '</a>';
                // }
            },
            {header: '${text("证书方向")}', name: 'certificateDirection', index: 'a.certificate_direction', width: 150, align: "center"},
            {header: '${text("证书等级")}', name: 'certificateLevel', index: 'a.certificate_level', width: 150, align: "center"},
            {header: '${text("证书持有者")}', name: 'certificateHolder', index: 'a.certificate_holder', width: 150, align: "center"},
            {header: '${text("证书到期时间")}', name: 'certificateDate', index: 'a.certificate_date', width: 150, align: "center"},
            {header: '${text("文件路径")}', name: 'filePath', index: 'a.file_path', width: 150, align: "center"},
            {header:'${text("备注")}', name:'remarks', index:'a.remarks', width:150, align:"left"},
            // {
            //     header: '${text("下载")}',
            //     name: 'filePath',
            //     index: 'a.file_path',
            //     width: 150,
            //     align: "center",
            //     frozen: true,
            //     formatter: function (val, obj, row, act) {
            //         // alert(row.fileName)
            //         return '<a target="_blank" href="'+val+'" class="btn btn-info btn-xs blue" ><i class="fa fa-download"></i>下载</a>';
            //     }
            // },

            {
                header: '${text("操作")}',
                name: 'actions',
                width: 150,
                align: "center",
                sortable: false,
                title: false,
                formatter: function (val, obj, row, act) {
                    var actions = [];
                <% if(hasPermi('sys:filemanager:hwFile:edit')){ %>
                        actions.push('<a href="${ctx}/sys/filemanager/hwFile/form?certificateId='+row.certificateId+'" class="btnList" title="${text("编辑华为证书")}"><i class="fa fa-pencil"></i></a>&nbsp;');
                        if (row.status == Global.STATUS_NORMAL){
                            actions.push('<a href="${ctx}/sys/filemanager/hwFile/disable?certificateId='+row.certificateId+'" class="btnList" title="${text("停用华为证书")}" data-confirm="${text("确认要停用该华为证书吗？")}"><i class="glyphicon glyphicon-ban-circle"></i></a>&nbsp;');
                        }
                        if (row.status == Global.STATUS_DISABLE){
                            actions.push('<a href="${ctx}/sys/filemanager/hwFile/enable?certificateId='+row.certificateId+'" class="btnList" title="${text("启用华为证书")}" data-confirm="${text("确认要启用该华为证书吗？")}"><i class="glyphicon glyphicon-ok-circle"></i></a>&nbsp;');
                        }
                        actions.push('<a href="${ctx}/sys/filemanager/hwFile/delete?certificateId='+row.certificateId+'" class="btnList" title="${text("删除华为证书")}" data-confirm="${text("确认要删除该华为证书吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
                        // actions.push('<a href="${ctx}/sys/filemanager/FileDownLoad/download?certificateId='+row.certificateId+'" class="btnList" title="${text("下载华为证书")}" data-confirm="${text("确认要下载该华为证书吗？")}"><i class="fa fa-download"></i></a>&nbsp;');

                        // actions.push('<a target="_blank" href="/js/userfiles/fileupload/202001/1215928295040294913.pdf" class="btnList" title="${text("下载华为证书")}" data-confirm="${text("确认要下载该华为证书吗？")}"><i class="fa fa-download"></i></a>&nbsp;');

                    <% } %>
                    return actions.join('');
                }
            }
        ],
        // 加载成功后执行事件
        ajaxSuccess: function (data) {

        }
    });
</script>


<!--<script src="http://webapp.didistatic.com/static/webapp/shield/z/vue/vue/1.0.24/vue.min.js"></script>-->
<!--<script src="http://stuk.github.io/jszip/dist/jszip.js"></script>-->

<!--<script type="text/javascript" src="http://stuk.github.io/jszip-utils/dist/jszip-utils.js"></script>-->
<!--<script type="text/javascript" src="http://stuk.github.io/jszip-utils/dist/jszip-utils-ie.js"></script>-->
<!--<script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
<!--<script src="http://stuk.github.io/jszip/vendor/FileSaver.js"></script>-->
<script>

    $("#btnDownload").click(function(){
        var rows = $("#dataGrid").dataGrid("getSelectRows");
        // alert(rows)
        if(rows.length<1){
        alert("请选择要下载的证书")
            return false
    } else if(rows.length>1){

            var nameList = [];
            var pathList = [];
            for (var index = 0; index < rows.length; index++) {
                var id =rows[index];
                var rowData =$('#dataGrid').dataGrid('getRowData', id);

                if (rowData.filePath=="" || rowData.filePath.length<=0) {
                    continue;
                } else {
                    pathList.push(rowData.filePath);
                    nameList.push(rowData.fileName);
                }
            }
            if (pathList.length>0){
                var paths =  encodeURI(encodeURI(pathList));
                // var names = encodeURI(encodeURI(nameList));
                var names = nameList;
                console.log("文件名称："+names);
                console.log("文件路径："+paths);
                //将名称传入后台
                window.location.href = "${ctx}/sys/filemanager/hwFile/download?names="+names+"&paths="+paths;
            }

    }else {
            var urls = new Array();

            for (var i = 0; i < rows.length; i++) {
                var id = rows[i];
                var rowData = $("#dataGrid").dataGrid("getRowData", id);
                // alert(rowData)

                // urls[i] = rowData.filePath;
                var filePath = rowData.filePath;
                // alert(filePath)
                var fileName = rowData.fileName;
                // console.log("单个文件的文件名称："+fileName)
                download(fileName, filePath);
            }

        //     var zip  = new JSZip();
        //     var file_name = "华为证书.zip";
        //     let urls = new Array();
        //     for(let i=0;i<rows.length;i++){
        //
        //       let id = rows[i];
        //       urls[i]=$("#dataGrid").dataGrid("getRowData", id).filePath;
        //
        // }
        //     console.log(urls)
        //     var len=function(arr){
        //         var l = 0;
        //         for(var key in arr){
        //             l++;
        //         }
        //         return l;
        //     }
        //     for(let i=0;i<urls.length;i++){
        //     //对每一个图片连接获取base64的数据，并使用回调函数处理
        //         getBase64Image(urls[i],function (dataURL) {
        //
        //         //对获取的图片base64数据进行处理
        //             var url = dataURL.split(",");
        //             zip.file(i.toString()+'.jpg',url[1],{base64: true});//根据base64数据在压缩包中生成jpg数据
        //             var ziplength = len(zip.files);
        //             if(ziplength==urls.length){//当所有图片都已经生成打包并保存zip
        //                 zip.generateAsync({type:"blob"})
        //                     .then(function(content) {
        //                         //console.log(content);
        //                         saveAs(content, file_name);
        //                     });
        //             }
        //         })
        // }
        }

    });
    function download(fileName,filePath){
        var a = document.createElement("a"),
            e = document.createEvent("MouseEvents");
        e.initEvent("click",false,false);
        a.href = filePath;
        a.download=fileName;
        a.dispatchEvent(e);
    }
    //****传入图片链接，返回base64数据
    // function getBase64Image(images,callback) {
    //     var img = new Image();
    //     var canvas = document.createElement("canvas");
    //     img.onload = function(){
    //         canvas.getContext("2d").drawImage(img,0,0);
    //         var dataURL=canvas.toDataURL();//使用canvas获取图片的base64数据
    //
    //         callback?callback(dataURL):null; //调用回调函数
    //
    //     }
    //     img.src = images;
    // }

</script>


