<% layout('/layouts/default.html', {title: '华为证书管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> ${text('华为证书管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
<!--				<% if(hasPermi('sys:filemanager:hwFile:edit')){ %>-->
<!--					<a href="${ctx}/sys/filemanager/hwFile/form?loginCode=" class="btn btn-default btnTool" title="${text('新增华为证书')}"><i class="fa fa-plus"></i> ${text('新增')}</a>-->
<!--				<% } %>-->
				<a  id="btnDownload" class="btn btn-default " title="${text('支持批量下载')}"><i class="fa fa-download"></i>下载</a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${hwFile}" action="${ctx}/sys/filemanager/hwFile/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('文件名称')}：</label>
					<div class="control-inline">
						<#form:input path="fileName" maxlength="1000" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('证书名称')}：</label>
					<div class="control-inline">
						<#form:input path="certificateName" maxlength="1000" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('证书方向')}：</label>
					<div class="control-inline">
						<#form:input path="certificateDirection" maxlength="1000" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('证书等级')}：</label>
					<div class="control-inline">
						<#form:input path="certificateLevel" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('证书持有者')}：</label>
					<div class="control-inline">
						<#form:input path="certificateHolder" maxlength="10" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('证书到期时间')}：</label>
					<div class="control-inline">
						<#form:input path="certificateDate" readonly="true" maxlength="20" class="form-control Wdate-datetime"
							dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:false});"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('上传证书者')}：</label>
					<div class="control-inline">
						<#form:input path="creatBy" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('上传证书时间')}：</label>
					<div class="control-inline">
						<#form:input path="creatDate" readonly="true" maxlength="20" class="form-control Wdate-datetime"
							dataFormat="datetime" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',isShowClear:false});"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('文件路径')}：</label>
					<div class="control-inline">
						<#form:input path="filePath" maxlength="1000" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('证书是否存在')}：</label>
					<div class="control-inline">
						<#form:input path="isExists" maxlength="2" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('文件扩展名')}：</label>
					<div class="control-inline">
						<#form:input path="fileExtension" maxlength="100" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('状态')}：</label>
					<div class="control-inline">
						<#form:input path="fileStatus" maxlength="1" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('备注')}：</label>
					<div class="control-inline">
						<#form:input path="remarks" maxlength="500" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	//显示复选框
	showCheckbox:true,


	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("文件名称")}', name:'fileName', index:'a.file_name', width:150, align:"left",
		//frozen:true, formatter: function(val, obj, row, act){
		// 	return '<a href="${ctx}/sys/filemanager/hwFile/form?certificateId='+row.certificateId+'" class="btnList" data-title="${text("编辑华为证书")}">'+(val||row.id)+'</a>';
		// }
		},
		{header:'${text("证书名称")}', name:'certificateName', index:'a.certificate_name', width:150, align:"left"},
		{header:'${text("证书方向")}', name:'certificateDirection', index:'a.certificate_direction', width:150, align:"left"},
		{header:'${text("证书等级")}', name:'certificateLevel', index:'a.certificate_level', width:150, align:"left"},
		{header:'${text("证书持有者")}', name:'certificateHolder', index:'a.certificate_holder', width:150, align:"left"},
		{header:'${text("证书到期时间")}', name:'certificateDate', index:'a.certificate_date', width:150, align:"center"},
		{header: '${text("文件路径")}', name: 'filePath', index: 'a.file_path', width: 150, align: "center" ,hidden:true},
		// {header:'${text("上传证书者")}', name:'creatBy', index:'a.creat_by', width:150, align:"left"},
		// {header:'${text("上传证书时间")}', name:'creatDate', index:'a.creat_date', width:150, align:"center"},
		// {header:'${text("更新证书时间")}', name:'updateDate', index:'a.update_date', width:150, align:"center"},
		// {header:'${text("文件路径")}', name:'filePath', index:'a.file_path', width:150, align:"left"},
		// {header:'${text("证书是否存在")}', name:'isExists', index:'a.is_exists', width:150, align:"left"},
		// {header:'${text("文件扩展名")}', name:'fileExtension', index:'a.file_extension', width:150, align:"left"},
		// {header:'${text("状态")}', name:'fileStatus', index:'a.file_status', width:150, align:"left"},
		{header:'${text("备注")}', name:'remarks', index:'a.remarks', width:150, align:"left"},
		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('sys:filemanager:hwFile:edit')){ %>
				actions.push('<a href="${ctx}/sys/filemanager/hwFile/form?certificateId='+row.certificateId+'&loginCode=+'+'" class="btnList" title="${text("编辑华为证书")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				if (row.status == Global.STATUS_NORMAL){
					actions.push('<a href="${ctx}/sys/filemanager/hwFile/disable?certificateId='+row.certificateId+'" class="btnList" title="${text("停用华为证书")}" data-confirm="${text("确认要停用该华为证书吗？")}"><i class="glyphicon glyphicon-ban-circle"></i></a>&nbsp;');
				}
				if (row.status == Global.STATUS_DISABLE){
					actions.push('<a href="${ctx}/sys/filemanager/hwFile/enable?certificateId='+row.certificateId+'" class="btnList" title="${text("启用华为证书")}" data-confirm="${text("确认要启用该华为证书吗？")}"><i class="glyphicon glyphicon-ok-circle"></i></a>&nbsp;');
				}
				actions.push('<a href="${ctx}/sys/filemanager/hwFile/delete?certificateId='+row.certificateId+'" class="btnList" title="${text("删除华为证书")}" data-confirm="${text("确认要删除该华为证书吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>
<script>

	$("#btnDownload").click(function(){
		var rows = $("#dataGrid").dataGrid("getSelectRows");
		// alert(rows)
		if(rows.length<1){
			js.showMessage('请选择要下载的文件');
			return false
		} else {

			var nameList = [];
			var pathList = [];

			for (var index = 0; index < rows.length; index++) {
				var id =rows[index];
				var rowData =$('#dataGrid').dataGrid('getRowData', id);

				if (rowData.filePath=="" || rowData.filePath.length<=0) {
					continue;
				} else {
					pathList.push(rowData.filePath.replace(ctxPath+Global.USERFILES_BASE_URL,""));
					nameList.push(rowData.fileName);
				}
			}
			console.log("文件路径"+pathList[0])
			if (pathList.length>0){
				var paths =  encodeURI(encodeURI(pathList));
				// var names = encodeURI(encodeURI(nameList));
				var names = nameList;
				// console.log("文件名称："+names);
				// console.log("文件路径："+paths);
				//将名称传入后台
				window.location.href = "${ctx}/sys/filemanager/hwFile/download?names="+names+"&paths="+paths;
			}

		}

	});
	function download(fileName,filePath){
		var a = document.createElement("a"),
				e = document.createEvent("MouseEvents");
		e.initEvent("click",false,false);
		a.href = filePath;
		a.download=fileName;
		a.dispatchEvent(e);
	}

</script>


