<% layout('/layouts/default.html', {title: '课程资料表管理', libs: ['validate','fileupload']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa icon-note"></i> ${text(courseDate.isNewRecord ? '新增课程资料表' : '编辑课程资料表')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${courseDate}" action="${ctx}/sys/filemanager/courseDate/save" method="post" class="form-horizontal">
		<div class="box-body">
			<div class="form-unit">${text('基本信息')}</div>
			<#form:hidden path="id"/>
			<div class="row">
				<div class="col-xs-6">
					<div class="form-group">
						<label class="control-label col-sm-4" title="">
							<span class="required ">*</span> ${text('课程名称')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-8">
							<#form:input path="courseName" maxlength="255" class="form-control required"/>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form-group">
						<label class="control-label col-sm-4" title="">
							<span class="required hide">*</span> ${text('课程方向 ')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-8">
							<#form:select path="courseType" dictType="sys_course_type" blankOption="true" class="form-control" />
						</div>
					</div>
				</div>
			</div>
			<div class="row" hidden="hidden">
				<div class="col-xs-6">
					<div class="form-group">
						<label class="control-label col-sm-4" title="">
							<span class="required ">*</span> ${text('是否存在文件')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-8">
							<#form:select path="isExistsFile" dictType="sys_yes_no" class="form-control required" />
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form-group">
						<label class="control-label col-sm-4" title="">
							<span class="required ">*</span> ${text('状态')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-8">
							<#form:select path="status" dictType="sys_search_status" class="form-control required" />
						</div>
					</div>
				</div>
			</div>
			<div class="row" hidden="hidden">
				<div class="col-xs-6" >
					<div class="form-group">
						<label class="control-label col-sm-4" title="">
							<span class="required hide">*</span> ${text('文件路径')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-8">
							<#form:input path="filePath" name="filePath" maxlength="1000" class="form-control"/>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="form-group">
						<label class="control-label col-sm-4" title="">
							<span class="required hide">*</span> ${text('文件名称')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-8">
							<#form:input path="fileName" name="fileName" maxlength="500" class="form-control"/>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label class="control-label col-sm-2" title="">
							<span class="required hide">*</span> ${text('备注信息')}：<i class="fa icon-question hide"></i></label>
						<div class="col-sm-10">
							<#form:textarea path="remarks" rows="4" maxlength="500" class="form-control"/>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="form-group">
						<label class="control-label col-sm-2">${text('附件上传')}：</label>
						<div class="col-sm-10">
							<#form:fileupload id="uploadFile" bizKey="${courseDate.id}" bizType="courseDate_file" returnPath="true"
							filePathInputId="filePath" fileNameInputId="fileName"
							uploadType="all" class="" readonly="false"/>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="box-footer">
			<div class="row">
				<div class="col-sm-offset-2 col-sm-10">
					<% if (hasPermi('sys:filemanager:courseDate:edit')){ %>
					<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
					<% } %>
					<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
				</div>
			</div>
		</div>
	</#form:form>
</div>
</div>
<% } %>
<script>
	window.onload=function(){
		//初始化内容
		isExists();
	}
	
	$("#inputForm").validate({
		submitHandler: function(form){
			js.ajaxSubmitForm($(form), function(data){
				js.showMessage(data.message);
				if(data.result == Global.TRUE){
					js.closeCurrentTabPage(function(contentWindow){
						contentWindow.page();
					});
				}
			}, "json");
		}
	});

	function isExists() {
		if($("#filePath").val() !="" || $("#filePath").val().length>0){
			$('#isExistsFile option:eq(0)').prop('selected', 'selected');
		}else{
			//$('#isExistsFile option:eq(1)').prop('selected', 'selected');
			$("#isExistsFile").val("0");
		}
	}
	$("#filePath").change(function(){
		isExists();
	});

</script>